.header{
  height: 60px;
  display: flex;
  border-bottom: 1px solid #F0F2F5;
  box-shadow: 0px 1px 10px #d3d5d8;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.left-section{
  display: flex;
  align-items: center;
  width: 25%;
  background-color: powderblue;
}

.logo{
  margin-left: 15px;
  cursor: pointer;
}
.logo>img{
  height: 40px;
}

.search-bar{
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  padding: 8px 10px;
  border-radius: 25px;
  margin-left: 10px;
  width: 240px;
}

.search-bar>img{
  height: 25px;
}

.search-bar>input{
  border: none;
  background-color: #F0F2F5;
  margin-left: 10px;
}

/* .search-bar:focus .search-icon{
  display: none;
} */

input:focus{
  outline: none;
}

/* middle section starts from here */
.middle-section{
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.middle-section-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px 48px;
  transition: background-color 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.middle-section-container:hover{
  background-color: #F2F2F2;
}

/* The tooltip for both middle-section and right-section  */
.tooltip{
  color: #F0F2F5;
  background-color: #39393A;
  padding: 8px 10px;
  border-radius: 8px;
  position: absolute;
  bottom: -43px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 12px;
}

.middle-section-container:hover .tooltip,
.right-section-container:hover .tooltip{
  opacity: 1;
}


/* right section starts from here */
.right-section{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-section-container{
  background-color: #D8DADF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}

.right-section-container>img{
  position: absolute;
  top: 20%;
  left: 20%;
}

.right-section-container .profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.right-section .account-icon{
  margin-right: 15px;
}

.right-section-container:hover{
  background-color: #b6bac2;
}

.message-count, 
.notification-count{
  background-color: rgb(214, 13, 13);
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: 26px;
  top: -6px;
}

