.header{
  height: 60px;
  display: flex;
  border-bottom: 2px solid #F0F2F5;
  box-shadow: 0px 1px 10px #d3d5d8;
}

.left-section{
  display: flex;
  align-items: center;
  width: 25%;
  background-color: powderblue;
}

.logo{
  margin-left: 15px;
}
.logo>img{
  height: 40px;
}

.search-bar{
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  padding: 5px 10px;
  border-radius: 25px;
  margin-left: 10px;
  width: 240px;
}

.search-bar>img{
  height: 25px;
}

.search-bar>input{
  height: 30px;
  border: none;
  background-color: #F0F2F5;
  margin-left: 10px;
}

/* middle section starts from here */
.middle-section{
  width: 50%;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* right section starts from here */
.right-section{
  width: 25%;
  background-color: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-section>div{
  background-color: #D8DADF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 5px;
}

.right-section>div>img{
  
}

.right-section .profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

