/* First-part  */
.right-sidebar{
  background-color: #F0F2F5;
  width: 25%;
  position: fixed;
  top: 62px;
  right: 0;
  bottom: 0;
  padding: 15px 6px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #F0F2F5 #F0F2F5;
  z-index: -100;
}

.right-sidebar:hover{
  scrollbar-color: #BCC0C4 #F0F2F5;
}

.right-sidebar .first-part .sponsor{
  color: #68696b;
  font-weight: 500;
  margin-left: 10px;
}

.right-sidebar .first-part .advertise{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  position: relative;
}

.right-sidebar .first-part .advertise:hover{
  background-color: #E4E6E9;
  cursor: pointer;
}

.right-sidebar .first-part .sponsor-image img{
  height: 80px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  float: left;
}

.sponsor-image{
  margin-right: 12px;
}

.right-sidebar .heading p{
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.right-sidebar .secondary-container a{
  text-decoration: none;
  color: #65676B;
  font-size: 12px;
}

.right-sidebar .first-part .advertise .menu img{
  height: 23px;
  width: 23px;
  margin: 8px 0 0 8px;
}

.right-sidebar .first-part .advertise .menu{
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #D8DADF;
  opacity: 0;
}

.right-sidebar .first-part .advertise:hover .menu{
  opacity: 1;
}

.right-sidebar .birthday-container{
  padding: 10px 10px 5px;
}

.right-sidebar .birthday-container .birthday{
  color: #68696b;
  font-weight: 500;
}

.right-sidebar .birthday-container .wishes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.right-sidebar .birthday-container .wishes:hover{
  background-color: #E4E6E9;
  cursor: pointer;
}

.right-sidebar .birthday-container .wishes .gift-icon>img{
  height: 30px;
}

.right-sidebar .birthday-container .wishes .person span{
  font-weight: 500;
  font-size: 15px;
}

.right-sidebar .birthday-container .wishes .person p{
  font-size: 15px;
}



/* Second-part */
.right-sidebar .second-part .primary-container{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  padding-right: 0;
  padding-bottom: 5px;
}

.right-sidebar .second-part .primary-container .contacts{
  color: #68696b;
  font-weight: 500;
}

.right-sidebar .second-part .primary-container .search-option{
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.right-sidebar .second-part .primary-container .search-option .search,
.right-sidebar .second-part .primary-container .search-option .option{
  position: relative;
}

.right-sidebar .second-part .primary-container .search-option .search .tooltip{
  width: 183px;
}

.right-sidebar .second-part .primary-container .search-option .option .tooltip,
.right-sidebar .second-part .primary-container .search-option .search .tooltip{
  position: absolute;
  bottom: -40px;
  right: 5px;
  background-color: #39393A;
  color: #F0F2F5;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.right-sidebar .second-part .primary-container .search-option .option:hover .tooltip,
.right-sidebar .second-part .primary-container .search-option .search:hover .tooltip{
  opacity: 0.9;
}


.right-sidebar .second-part .primary-container .search-option>div{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.right-sidebar .second-part .primary-container .search-option>div:hover{
  background-color: #e4e6ed;
}

.right-sidebar .second-part .primary-container .search-option img{
  height: 23px;
  width: 23px;
  margin: 6px 0 0 6px;
}

.right-sidebar .second-part .container{
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 15px;
}

.right-sidebar .second-part .container:hover,
.right-sidebar .third-part .container:hover{
  background-color: #E4E6E9;
  cursor: pointer;
}

.right-sidebar .second-part .container .profile-picture{
  height: 38px;
  width: 38px;
  object-fit: cover;
  border-radius: 50%;
}

.right-sidebar .second-part .container .green-dot>img{
  height: 9px;
  width: 9px;
  object-fit: contain;
}

.right-sidebar .second-part .container .active-now{
  position: relative;
  margin-right: 12px;
}

.right-sidebar .second-part .container .active-now .green-dot{
  position: absolute;
  right: 1px;
  bottom: 1px;
}


/* Third-part */
.right-sidebar .third-part .group-conversation{
  padding: 10px;
  color: #68696b;
  font-weight: 500;
}
.right-sidebar .third-part .container{
  display: flex;
  align-items: center;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
}

.right-sidebar .third-part .container .group-name{
  margin-left: 8px;
  font-size: 15px;
  font-weight: 500;
}

.right-sidebar .third-part .container .secondary-container{
  border-radius: 50%;
  position: relative;
  height: 38px;
  width: 38px;
}

.right-sidebar .third-part .container .secondary-container .gourab{
  position: absolute;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  height: 25px;
}

.right-sidebar .third-part .container .secondary-container .biswanath{
  position: absolute;
  top: -1px;
  right: -1px;
  height: 25px;
}

.right-sidebar .third-part .container .secondary-container img{
  height: 38px;
  border-radius: 50%;
}

.right-sidebar .third-part .container .secondary-container .green-dot img{
  height: 9px;
  width: 9px;
  object-fit: contain;
}

.right-sidebar .third-part .container .secondary-container .green-dot{
  position: absolute;
  right: 0;
  bottom: -5px;
}

.right-sidebar .third-part .container .secondary-container .add{
  height: 20px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.right-sidebar .third-part .container .plus{
  background-color: #D8DADF;
}



